@media screen and (min-width:0px){
    :root {
        --primary: #e99401;
        --black: #262626;
        --white: #FFF;
        --fuente-principal: 'Outfit', sans-serif;
    }
    html {
        font-size: 62.5%;
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }
    body {
        font-size: 2rem;
        font-family: var(--fuente-principal);
        line-height: 1.5;
    }
    strong {
        font-weight:700;
    }
    figure{
        margin:0;
    }
    img {
        max-width:100%;
        height: auto;
    }
    [class*="contenedor"], 
    section {
        width: min(95%, 120rem);
        margin:0rem auto;
        padding:3rem 1rem;
    }
    [class*="contenedor full"], 
    section.full {
        width: 100%;
        padding:0rem;
    }
    [class*="heading"] {
        font-size: 4rem;
        text-align: center;
        font-weight: 900;
        color: var(--primary);
        padding:5rem 0;
        margin:0;
    }

    /**** Header *****/
    .header{
        padding:6rem 0;
        background:linear-gradient(to right, #000000cc, #000000b3 ), url('/img/header.jpg') no-repeat center/cover;
    }
    .header .barra{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .header .barra a{
        width:100%;
    }
    .header .barra .logo{
        width:100%;
        max-width:25rem;
        margin:auto;
        display:block;
    }
    .header .barra .navegacion{
        display:flex;
        gap:2rem;
        margin-top:5rem;
        align-items:center;
    }    
    .header .barra .navegacion a{
        padding:.5rem;
        border-radius:.5rem;
        color:var(--white);
        font-size:1.4rem;
        font-weight:900;
        text-transform:uppercase;
        text-decoration:none;
        transition-property:background-color;
        transition-duration:.5s;
        position:relative;
    } 
    .header .barra .navegacion a.active,
    .header .barra .navegacion a:hover{
        background-color:var(--primary);        
    } 

    .header .barra .navegacion a.cart .count{
        position:absolute;
        width:1.8rem;
        height:1.8rem;
        top:-.2rem;
        right:-.2rem;
        font-size:1rem;
        line-height:1rem;
        padding:.5rem;
        background:var(--primary);
        border-radius:50%;
        display:flex;
        justify-content:center;
        align-items:center;
    } 

    /**** Main *****/
    #main .contenido .enlace{
        display:block;
        margin:2rem 0 0 0;
        padding:.5rem 1.5rem;
        color:var(--white);
        background-color:var(--black);
        border-radius:.5rem;
        font-size:1.4rem;
        font-weight:900;
        text-align: center;
        text-decoration:none;
        text-transform: uppercase;
        transition-property:background-color;
        transition-duration:.3s;
    }

    #main .contenido .enlace:hover{
        background-color:var(--primary);
    }


    .swiper {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        /* Fix of Webkit flickering */
        z-index: 1;
        display: block;
    }
    
    .swiper-wrapper {
        position: relative;
        z-index: 1;
        display: flex;
        width: 100%;
        height: 100%;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
    }

    .swiper-android .swiper-slide,
    .swiper-ios .swiper-slide,
    .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
    }

    .swiper-slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
    }

    /**** Footer *****/
    .footer{
        background:var(--black);
        padding:5rem .5rem;
        margin-top:5rem;
    } 
    
    .footer .contenido .navegacion{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:2rem;
    }

    .footer .contenido .navegacion a{
        color:var(--white);
        font-size:2.8rem;
        font-weight:700;
        text-decoration:none;
        transition-property:background-color;
        transition-duration:.5s;
    }

    .footer .contenido .navegacion .cart{
        display:none;
    }

    .footer .contenido .copyright{
        color:var(--white);
        font-size:1.8rem;
        font-weight:300;
        text-align:center;
    }

    /**** Error *****/
    .content-error{
        padding:5rem 2rem;
    }
    
    .content-error .error{
        font-size:4rem;
        text-align:center;
    }

    .content-error .error span.status{
        display:block;
        color: var(--primary);
        font-size:12rem;
        font-weight:900;
    }

    .content-error .error-btn{
        display:block;
        width:max-content;
        padding:1rem 2rem;
        margin:0 auto;
        border-radius:.5rem;
        color:var(--white);
        background-color:var(--black);
        font-size:2rem;
        text-align:center;
        text-decoration:none;
        transition: background-color .5s;
    }
    .content-error .error-btn:hover{
        background-color:var(--primary);
    }

}
@media screen and (min-width:768px){
    
    /**** Header *****/
    .header .barra{
        flex-direction:row;
        justify-content:space-between;
    }
    .header .barra .logo{
        margin:0 auto  0 0;
    }

    .header .barra .navegacion{
        margin-top:0rem;
    }   

    

    /**** Footer *****/
    .footer .contenido{
        display:flex;
        justify-content:space-between;
    } 

    .footer .contenido .navegacion{
        flex-direction:row;
    }
    
    .footer .contenido .copyright,
    .footer .contenido .navegacion a{
        font-size:2.2rem;
    }

}