@media screen and (min-width:0px){
    
    #main .guitarras-grid{
        display:grid;
        grid-template-columns:1fr;
        gap:4rem;
    }
    
    #main .guitarra{
        display:grid;
        grid-template-columns:2fr 3fr;
        gap: 1rem;
        align-items:center;
        max-width:70rem;
    }

    #main .guitarra .contenido{
        padding:1rem;
    }

    #main .guitarra .contenido .titulo{
        color: var(--primary);
        font-size:3rem;
        text-transform:uppercase;
    }

    #main .guitarra .contenido .descripcion{
        display:-webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow:hidden;
        font-size:1.8rem;
        line-height:2rem;
    }

    #main .single .guitarra .contenido .descripcion{
        font-size:2rem;
        line-height:2.2rem;
    }

    #main .guitarra .contenido .precio{
        margin:0;
        color:var(--primary);
        font-size:4rem;
        font-weight:900;
    }
}
@media screen and (min-width:768px){

    #main .guitarras-grid{
        grid-template-columns:repeat(2, 1fr);
    }
    
}
@media screen and (min-width:992px){
    
    #main .guitarras-grid{
        grid-template-columns:repeat(3, 1fr);
    }
    
}